 @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgba(52, 195, 211, 0.8);
}

h1 {
    position: fixed;
    width: 158px;
    top: 10px;
    left: 1vw;
    text-transform: uppercase;
    line-height: 1.333em;
    vertical-align: middle;
    font-size: 1.333em;
}

h2 {
    color: rgba(17, 119, 178, 1);
    font-size: calc(16px + .5vw);
    padding-top: 1em;
    text-transform: uppercase;
}

p, li, ul {
    font-size: calc(12px + .5vw);
    color: rgba(91, 84, 77, 1);
}

ol {
    list-style-type: decimal;
    list-style-position:inside;
    color: #333;
}

li {
    display: list-item;
}

html {
    font-family: "Oswald", sans-serif;
    color: rgba(255, 255, 255, 1);
    scroll-padding-top: 150px;
}

header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 195px;
    z-index: 500;
    background-image: linear-gradient(rgba(34, 152, 173, 1), 
        rgba(34, 152, 173, 1), 
        rgba(34, 152, 173, .7),
        rgba(34, 152, 173, 0));

}

aside {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -195px;
}

footer {
    background-color: rgba(34, 152, 173, 1);
    height: 44px;
    text-align: right;
}


section {
    display: flex;
    flex-direction: column;
    width: 80vw;
    position: relative;
    top: 143px;
}

quote {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    width: 58vw;
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: bold;
    word-wrap: break-word;
    padding-bottom: 33px;
}

quote span {
    display: block;
}

span {
    text-transform: none;
    font-size: 3vw;
    font-weight: 400;
}

button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 8.5vw;
    height: 42px;
    border: 2px solid #dda20d;
    border-radius: 8px;
    background-color: #dda20d;
    font-size: 1rem;
    text-align: center;
    margin: 0 18px 18px 0;
    word-wrap: break-word;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 0;
    background-image: url(../img/test-options-3-background4.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    padding-bottom: 9em;
}

.content2 {
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color:rgba(255, 255, 255, 0);
    height: max-content;
    top: -109px;
}

.nav {
    padding: 0px 10px;
    font-weight: bold;
}

.main-menu-link {
    color: #fff;
    background-color: #333;
}

.about-link {
    flex-direction: column;
}

.anchor-sections {
    flex-direction: row;
    position: relative;
    top: 30px;
    margin: 0 auto;
    font-size: calc(16px + .5vw);
    height: max-content;
}

.anchor-sections aside {
    width: 20vw;
}

.anchor-sections div {
    width: 60vw;
    padding: 53px 0 0 10px;
    height: max-content;
    max-width: 792px;
}

.anchor-sections nav {
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

#main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10vw;
    position: fixed;
    width: 80vw;
    top: 67px;
    z-index: 1000;
    min-width: 827px;
}

#is-search-input-1688 {
    position: fixed;
    z-index: 1000;
    top: 96px;
    left: 70vw;
    width: 20vw;
}

@media only screen and (max-width: 1090px) {
    #main-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: unset;
        margin-left: 1vw;
        position: fixed;
        width: 21vw;
        top: 79px;
        left: initial;
        z-index: 1000;
        min-width: unset;
    }
    .nav {
    padding: 0px 10px;
    margin: 5px 0px;
    font-weight: bold;
}
    section {
        display: flex;
        flex-direction: column;
        width: 71vw;
        position: relative;
        top: 143px;
        left: 108px;
    }
    .main-menu-link {
        color: #fff;
        background-color: #333;
        width: 100%;
    }
}